<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073432409982-itn87e17jubq6a8fg2rk03ln0f4mp8rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073432409982-itn87e17jubq6a8fg2rk03ln0f4mp8rq</string>
	<key>API_KEY</key>
	<string>AIzaSyDIDQ5l0cLCv_gC0eL1XLmELK5JR-Mjs1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1073432409982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aos.Rec4Trav</string>
	<key>PROJECT_ID</key>
	<string>rec4travfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>rec4travfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073432409982:ios:a7bccf16bacb9a092be52f</string>
</dict>
</plist>