<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743384674728-igafpt1lfhh4t47m9oupsic8pmvrntob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743384674728-igafpt1lfhh4t47m9oupsic8pmvrntob</string>
	<key>API_KEY</key>
	<string>AIzaSyAsOUcULw-cNHyL59ZYIxAa1a9HyrjMXqA</string>
	<key>GCM_SENDER_ID</key>
	<string>743384674728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aos.Rec4Trav</string>
	<key>PROJECT_ID</key>
	<string>rec4trav-516f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rec4trav-516f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743384674728:ios:f666a078367d3bd7806d9d</string>
</dict>
</plist>